driver: mysql
connection:
    database:   database
    host:       localhost
    port: 
userCredentials:
    username:   dbuser
    password:   dbpasswd
queryParameters:
    query:      'SELECT password FROM ? WHERE username = ?'
    table:      users
shellVariables:
    userdb_uid:  5000
    userdb_gid:  5000
    home:        /var/mail/vhosts
